* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    width: 350px;
    padding: 40px 50px;
    border-radius: 1rem;
    /* box-shadow: 0 2px 20px rgba(0,0,0,0.1); */
}
.login-container:hover{
    box-shadow: 0 2px 20px rgba(0,0,0,0.1);
} 

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header span {
    font-family: 'Billabong', cursive;
    font-size: 50px;
    color: black; /* Instagram logo text in black */
}

.input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-size: 14px;
}

.input:focus {
    outline: none;
    border-color: #3897f0;
    background-color: #f2f2f2;
}

.btn {
    width: 100%;
    background-color: #3897f0; /* Instagram button blue */
    border: none;
    padding: 12px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color: #007bb5;
}

.footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer a {
    color: #3897f0;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}